---
import '../styles/global.css';
const { title = '時代社', lang = 'zh' } = Astro.props;
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" sizes="any">
  </head>
  <body class="min-h-screen">
    <slot name="header" />
    <main class="container pt-24 pb-8">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>